<div class="page-wrapper login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="assets/img/logo_iapqroo.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" *ngIf="!passEnviado">
            <h3 class="form-title font-green">Reiniciar contrase&ntilde;a</h3>
            <h4 class="form-title font-green">Escribe la nueva contrase&ntilde;a</h4>
        
        <form class="login-form" [formGroup]="formNewPass" (ngSubmit)="actualizaPass()">
            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix" type="password" formControlName="password" name="password" autocomplete="off" placeholder="contrase&ntilde;a"/>
            </div>
            <button type="submit" [disabled]="!formNewPass.valid" class="btn green pull-right uppercase">Cambiar</button>
        </form>
    </div>

    <div class="content" *ngIf="passEnviado">
            <h3 class="form-title font-green">Se ha cambiado la contrase&ntilde;a</h3>
            <a [routerLink]="['/login']" class="btn green">Iniciar sesi&oacute;n</a>
    </div>
    <!-- END LOGIN -->
    <div class="copyright"> IAPQROO Quintana Roo. </div>
</div>