<div class="row">
    <div class="col-md-offset-4 col-sm-offset-1 col-md-4 col-sm-10 col-xs-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-notebook font-dark"></i>
                    <span class="caption-subject bold uppercase"> Categor&iacute;as de {{nombreDocumento}}</span>
                </div>
            </div>
            <div class="portlet-body">

                <div *ngIf="estructuratree" style="height: 600px" class="treePanel">
                    <tree-root #treeAdminCategorias [nodes]="estructuratree" [focused]="false" [options]="treeOptions" (initialized)="onInitialized(treeAdminCategorias)">
                        <ng-template #treeNodeTemplate let-node>
                            
                            <span class="btn-pull-right" *ngIf="(node.data.idPadre === -1)">
                                <button type="button" (click)="nuevoRegistro(treeAdminCategorias, node.data)" class="btn btn-circle btn-xs btn-outline blue"><i class="fa fa-plus"></i> Agregar</button>
                            </span>
                            <span class="btn-pull-right" *ngIf="(node.data.children.length > 0 && node.data.idPadre >= 0)">
                                <button type="button" (click)="editaRegistro($event, node.data)" class="btn btn-circle btn-xs btn-outline green"><i class="fa fa-pencil"></i> Editar</button>
                                <button type="button" (click)="nuevoRegistro(treeAdminCategorias, node.data)" class="btn btn-circle btn-xs btn-outline blue"><i class="fa fa-plus"></i> Agregar</button>
                            </span>
                            <span class="btn-pull-right" *ngIf="(node.data.children.length == 0 && node.data.idPadre >= 0)">
                                <button type="button" (click)="editaRegistro($event, node.data)" class="btn btn-circle btn-xs green"><i class="fa fa-pencil"></i> Editar</button>
                                <button type="button" (click)="nuevoRegistro(treeAdminCategorias, node.data)" class="btn btn-circle btn-xs blue"><i class="fa fa-plus"></i> Agregar</button>
                                <button type="button" (click)="eliminaRegistro($event, node.data)" class="btn btn-circle btn-xs red"><i class="fa fa-trash-o"></i> Eliminar</button>
                            </span>

                            <span title="{{node.data.descripcion}}">{{ node.data.descripcion }}</span>
                            
                        </ng-template>
                        <ng-template #loadingTemplate>Loading, please hold....</ng-template>
                    </tree-root>
                </div>


            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
