<div class="portlet light bordered">
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-pencil"></i>Detalle </div>
</div>
<div class="portlet-body form">
    <!-- BEGIN FORM-->
    <form class="form-horizontal" [formGroup]="formRegistro" (ngSubmit)="actualizaDatos()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Nombre</label>
                        <div class="col-md-10">
                            <textarea class="form-control input-circle" formControlName="nombre" placeholder="Titulo" rows="3" maxlength="150"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Autor</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control input-circle" formControlName="autor" placeholder="Autor" maxlength="105">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Categor&iacute;a</label>
                        <div class="col-md-10">

                            <select formControlName="idCategoria" class="form-control input-circle">
                              <option value=0 disabled selected>Seleccione</option> 
                              <option *ngFor="let categoria of listaCateg" [ngValue]="categoria.idCategoria">{{categoria.descripcion}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Descripci&oacute;n</label>
                        <div class="col-md-10">
                            <textarea class="form-control input-circle" formControlName="descripcion" placeholder="Autor" rows="15"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-body">

                    <div class="form-group last">
                        <label class="control-label col-md-3">Portada</label>
                        <div class="col-md-9">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="height: 200px;">
                                    <img [src]="imagenPortada" alt="" /> </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-height: 200px;"> </div>
                                <div>
                                    <span class="btn btn-file">
                                        <button type="button" class="fileinput-new btn btn-circle green">Seleccionar imagen</button>
                                        <button type="button" class="fileinput-exists btn btn-circle grey">Cambiar</button>
                                        <input type="file" accept="image/*" (change)="changeListener($event)"> </span>
                                        <button type="button" (click)="borraImg()" class="fileinput-exists btn btn-circle red" data-dismiss="fileinput">Eliminar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions right">
            <button type="submit" [disabled]="!formRegistro.valid" class="btn btn-circle green">Guardar</button>
            <button type="button" (click)="regresar()" class="btn btn-circle grey-salsa btn-outline">Cancelar</button>
        </div>
    </form>
    <!-- END FORM-->
</div>
</div>
