<div class="page-wrapper login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="assets/img/logo_iapqroo.png" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" *ngIf="!emailEnviado">
            <h3 class="form-title font-green">Reiniciar contrase&ntilde;a</h3>
            <h4 class="form-title font-green">Escribe el email con el que te registraste, se te enviar&aacute; un correo con las instrucciones para reiniciar tu contrase&ntilde;a</h4>
        
        <form class="login-form" [formGroup]="formRecuperaPass" (ngSubmit)="enviaEmail()">
            <div class="form-group">
                <input class="form-control form-control-solid placeholder-no-fix" type="email" formControlName="email" name="email" autocomplete="off" placeholder="Email"/>
            </div>
            <div class="form-actions">
                <button type="button" (click)="regresar()" class="btn green btn-outline pull-left uppercase">Iniciar sesi&oacute;n</button>
                <button type="submit" [disabled]="!formRecuperaPass.valid" class="btn green pull-right uppercase">Enviar</button>
            </div>
        </form>
    </div>

    <div class="content" *ngIf="emailEnviado">
            <h3 class="form-title font-green">Email enviado</h3>
            <h4 class="form-title font-green">Se ha enviado un correo con las instrucciones para reiniciar la contrase&ntilde;a</h4>
            <button type="button" (click)="regresar()" class="btn green">Iniciar sesi&oacute;n</button>
    </div>
    <!-- END LOGIN -->
    <div class="copyright"> IAPQROO Quintana Roo. </div>
</div>