<div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container-fluid">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="javascript:;">
                        <img src="assets/img/logo_iapqroo.png" alt="logo" class="logo-default"> </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        
                        <li class="droddown dropdown-separator">
                            <span class="separator"></span>
                        </li>
                        
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle">
                                <img alt="" class="img-circle" src="assets/img/avatar.png">
                                <span class="username username-hide-mobile">Bienvenido<br>{{nombrePersona}}</span>
                            </a>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu">
            <div class="container-fluid">
                <!-- BEGIN MEGA MENU -->
                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                <!-- DOC: Remove dropdown-menu-hover and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                <div class="hor-menu">
                    <ul *ngIf="perfilMenu" class="nav navbar-nav">
                        <li *ngIf="perfilMenu.editaDocumentos" routerLinkActive="active">
                            <a [routerLink]="['/principal/administracion', 'documentos']"><i class="icon-notebook"></i> Administraci&oacute;n de documentos</a>
                        </li>
                        <li *ngIf="perfilMenu.editaVideos" routerLinkActive="active">
                            <a [routerLink]="['/principal/administracion', 'videos']"><i class="icon-social-youtube"></i> Administraci&oacute;n de videos</a>
                        </li>

                        <li *ngIf="perfilMenu.verDocumentos" routerLinkActive="active">
                            <a [routerLink]="['/principal/consulta', 'documentos']"><i class="icon-notebook"></i> Documentos</a>
                        </li>
                        <li *ngIf="perfilMenu.verVideos" routerLinkActive="active">
                            <a [routerLink]="['/principal/consulta', 'videos']"><i class="icon-social-youtube"></i> Videos</a>
                        </li>

                        <li *ngIf="perfilMenu.editaCatalogos" aria-haspopup="true" class="menu-dropdown classic-menu-dropdown" data-close-others="true" routerLinkActive="active">
                            <a href="javascript:;"> <i class="icon-wallet"></i> Categor&iacute;as</a>
                            <ul class="dropdown-menu pull-left">
                                <li aria-haspopup="true" routerLinkActive="active">
                                    <a [routerLink]="['/principal/admincatalogo', 'documentos']" class="nav-link"><i class="icon-notebook"></i> Categor&iacute;as de documentos</a>
                                </li>
                                <li aria-haspopup="true" routerLinkActive="active">
                                    <a [routerLink]="['/principal/admincatalogo', 'videos']" class="nav-link"><i class="icon-social-youtube"></i> Categor&iacute;as de videos</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
                <div class="hor-menu-light hor-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li routerLinkActive="active">
                            <a [routerLink]="['/principal/miperfil']"><i class="icon-user"></i> Mi perfil</a>
                        </li>
                        <li routerLinkActive="active">
                            <a href="javascript:;" (click)="salir()"><i class="icon-logout"></i> Salir</a>
                        </li>
                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
</div>