<div class="row">
    <div class="col-md-8">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-notebook font-dark"></i>
                    <span class="caption-subject bold uppercase"> Presentaciones</span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-circle green" (click)="nuevoRegistro()">
                        <i class="fa fa-plus"></i> Nuevo registro </a>
                </div>
                <div class="inputs" style="float: left; padding-left: 15px;">
                    <div class="portlet-input input-inline input-xlarge">
                        <div class="input-group">
                            <input type="text" class="form-control input-circle-left" [(ngModel)]="textoBuscar" (keyup.enter)="buscaTexto()" placeholder="Buscar titulo...">
                            <span class="input-group-btn" *ngIf="showBtnLimpiar">
                                <button class="btn green" type="button" (click)="limpiaTexto()"><i class="fa fa-times fa-fw"></i></button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-circle-right btn-default" type="button" (click)="buscaTexto()">Buscar</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table" style="border-bottom: 1px solid #ddd;">
                        <thead>
                            <tr>
                                <th> Nombre </th>
                                <th> Categor&iacute;a </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX pointer" *ngFor="let registro of listaRegistros | paginate: { id: 'server', itemsPerPage: tablaListaRegistros.registrosPorPagina, currentPage: tablaListaRegistros.paginaActual, totalItems: tablaListaRegistros.totalElementos }" (click)="muestraDatosRegistro(registro)" [class.active]="registro.idPresentacion == registroSeleccionado.idPresentacion">
                                <td> {{registro.nombre}} </td>
                                <td> {{ (registro.categoria_pertenece == undefined ? '' : registro.categoria_pertenece.descripcion)}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" style="margin: 10px 0 0 0;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-8 text-center">
                            <pagination-controls (pageChange)="cambiaPagina($event)" id="server" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                        <div class="col-md-3 text-right">
                        <span>Total registros: {{tablaListaRegistros.totalElementos}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-book-open font-dark"></i>
                    <span class="caption-subject bold uppercase"> Detalle</span>
                </div>
                <div class="actions" *ngIf="(listaRegistros.length > 0)">
                    <a href="javascript:;" class="btn btn-circle green-haze" (click)="editaRegistro(registroSeleccionado.idPresentacion)">
                        <i class="fa fa-pencil"></i> Editar </a>
                    <a href="javascript:;" class="btn btn-circle red" (click)="eliminaRegistro(registroSeleccionado.idPresentacion, registroSeleccionado.nombreArchivo)">
                        <i class="fa fa-trash-o"></i> Eliminar </a>
                </div>
            </div>
            <div class="portlet-body">
            <div *ngIf="registroSeleccionado">
                <div class="row static-info">
                    <div class="col-md-3 name"> nombre: </div>
                    <div class="col-md-9 value"> <div style="height: 60px;">{{registroSeleccionado.nombre}} </div>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> autor: </div>
                    <div class="col-md-9 value"> <div style="height: 40px;">{{registroSeleccionado.autor}} </div></div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> Categor&iacute;a: </div>
                    <div class="col-md-9 value">
                        {{ (registroSeleccionado.categoria_pertenece == undefined ? '' : registroSeleccionado.categoria_pertenece.descripcion) }}
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> Descripci&oacute;n: </div>
                    <div class="col-md-9 value"> 
                      <perfect-scrollbar>
                        <div style="height: 200px;" [innerHTML]="registroSeleccionado.descripcion"></div>
                      </perfect-scrollbar>
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> Portada: </div>
                    <div class="col-md-9 value text-center">
                        <img [src]="(registroSeleccionado.portada == '' ? 'assets/img/portada_no_disponible.jpg' : registroSeleccionado.portada)" alt="" height="220">
                    </div>
                </div>
                <div class="row static-info">
                    <div class="col-md-3 name"> </div>
                    <div class="col-md-9 value text-center">
                        <button type="button" (click)="verPresentacion(registroSeleccionado.nombreArchivo)" class="fileinput-new btn btn-circle green">Ver presentaci&oacute;n</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
