<div class="page-wrapper login">
                <!-- BEGIN LOGO -->
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/img/logo_iapqroo.png" alt="" />
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN LOGIN -->
                <div class="content">
                        <h3 class="form-title font-green">Registro realizado</h3>
                        <h4 class="form-title font-green">Se ha enviado un correo de confirmaci&oacute;n al correo que registraste, una vez confirmado tu registro podr&aacute;s iniciar sesi&oacute;n</h4>
                        <a [routerLink]="['/login']" class="btn green uppercase">Iniciar sesi&oacute;n</a>
                </div>
                <!-- END LOGIN -->
                <div class="copyright"> IAPQROO Quintana Roo. </div>
</div>