<div class="row">
    <div class="col-md-3 m-grid-col-center">
                    <div class="page-sidebar">
                        <ul class="page-sidebar-menu">
                            <li class="heading">
                                <h3>CATEGOR&Iacute;AS</h3>
                            </li>
                            <li class="nav-item" *ngFor="let categoria of listaCategorias" (click)="filtraCategoria(categoria.idCategoria)" [class.active]="categoria.idCategoria === categoriaActiva">
                                <a ui-sref="dashboard">
                                    <i class="icon-{{categoria.icono}}"></i>
                                    <span class="title">{{categoria.descripcion}}</span>
                                    <span class="badge badge-success">{{categoria.total}}</span>
                                </a>
                            </li>
                        </ul>
                        <!-- END SIDEBAR MENU -->
                    </div>
    </div>
    <div class="col-md-9">

            <div class="page-content-wrapper">
                <!-- END PAGE BREADCRUMB -->
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="portfolio-content portfolio-1">

                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-4 m-grid-col-left">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" placeholder="Buscar..." (keyup.enter)="buscarDocumento()" [(ngModel)]="textoBuscar">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit" (click)="buscarDocumento()"><i class="icon-magnifier"></i></a>
                                        </span>
                                    </div>
                        </div>
                        <div class="col-md-8 m-grid-col-center">
                                    <pagination-controls (pageChange)="cambiaPagina($event)" id="server" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div>

                    <perfect-scrollbar>
                        <div class="alto-scrollbar">
                                <div *ngIf="listaRegistros" id="js-grid-juicy-projects" class="cbp">
                                        <div *ngFor="let presentacion of listaRegistros | paginate: { id: 'server', itemsPerPage: tablaListaRegistros.registrosPorPagina, currentPage: tablaListaRegistros.paginaActual, totalItems: tablaListaRegistros.totalElementos }" class="cbp-item {{presentacion.idCategoria}}">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img [src]="presentacion.portada" alt="" style="height: 400px;"> </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <div class="row" style="padding: 0 10px 15px 10px;">
                                                                <div class="col-md-12">
                                                                    <span style="color:#bfbfbf; margin-bottom: 5px;">{{presentacion.autor}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding: 0 10px 15px 10px;">
                                                                <div class="col-md-12">
                                                                    <span style="color:#fff;">{{presentacion.nombre}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button class="btn btn-circle red uppercase" type="button" (click)="previewDocumento(presentacion)">Detalle</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center"><span>{{presentacion.nombre}}</span></div>
                                            <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">{{presentacion.categoria}}</div>
                                        </div>
                                </div>
                        </div>
                    </perfect-scrollbar>

                </div>
                <!--END PAGE BASE CONTENT -->
            </div>
    </div>
</div>
